@model ENJobExchange.Areas.ENPortal.ViewModels.Referral

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Referral</legend>

@*        <div class="editor-label">
            @Html.LabelFor(model => model.JobPostingID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JobPostingID)
            @Html.ValidationMessageFor(model => model.JobPostingID)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.ENID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ENID)
            @Html.ValidationMessageFor(model => model.ENID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmpID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmpID)
            @Html.ValidationMessageFor(model => model.EmpID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmploymentNetworkName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmploymentNetworkName)
            @Html.ValidationMessageFor(model => model.EmploymentNetworkName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Account_ENID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Account_ENID)
            @Html.ValidationMessageFor(model => model.Account_ENID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReferralTypeID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReferralTypeID)
            @Html.ValidationMessageFor(model => model.ReferralTypeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Referral_DT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Referral_DT)
            @Html.ValidationMessageFor(model => model.Referral_DT)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StatusDesc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StatusDesc)
            @Html.ValidationMessageFor(model => model.StatusDesc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name_First)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name_First)
            @Html.ValidationMessageFor(model => model.Name_First)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name_Last)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name_Last)
            @Html.ValidationMessageFor(model => model.Name_Last)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EN_Notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EN_Notes)
            @Html.ValidationMessageFor(model => model.EN_Notes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.File_CoverLetter)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.File_CoverLetter)
            @Html.ValidationMessageFor(model => model.File_CoverLetter)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.File_Resume)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.File_Resume)
            @Html.ValidationMessageFor(model => model.File_Resume)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
